/* about */
.homemusique{
    /*border: 2px solid red;*/
    background-color: white;
    text-align: center;
    display: flexbox;
    justify-content: space-around;
    padding: 150px 0px 0px 0px;
    height: 50rem;
}
div.homemusique__item{
    /*border: 2px solid blue;*/
    display: inline-block;
    margin: 50px 23px 0px 23px;
}
h1.titremusiqueabout{
    font-size: 2.2rem;
    padding: 0px 0px 10px 0px;
}
h2.titresongmusiqueabout{
    font-weight: 500;
}
p.paramusiqueabout{
    color: rgb(160, 160, 160);
    font-weight: 300;
}
div.textesongmusiqueabout{
    padding: 10px 0px 0px 0px;
}
p.parasongmusiqueabout{
    font-weight: 250;
    font-size: 0.9rem;
}
img.imagesongmusiqueabout{
    width: 105%;
}
/* about */

/* releases */
.homerelease{
    background-image: url(images/homepage-latest-releases-background.jpg);
}
div.homerelease__item{
    text-align: center;
}
button.homerelease__btn{
    background-color: blueviolet;
    border: 5px solid blueviolet;
    border-radius: 2px;
    padding: 5px 13px ;
}
/* releases */

/* disco */
    section.homeabout{
        border: 2px solid red;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,auto);
        background-color: white;
    }
    img.imagehomeabout{
        grid-column: 1/2;
        grid-row: 1/4;
        border: 5px solid none;
        border-radius: 10px;
        margin: 0px 0px 0px 200px;
    }
    div.homeabout__text{
        margin: 0px 250px 0px 40px;
    }
    h1.homeabout__item{
        grid-column: 2/2;
        grid-row: 1/2;
        font-size: 2.2rem;
    }
    p.homeabout__item{
        font-weight: 300;
    }
    q.homeabout__item{
        font-size: 1.5rem;
        font-weight: 300;
    }
/* disco */

/* subscribe */
    section.homesub{
        background-image: url(images/homepage-footer-background.jpg);
    }
    div.homesub__head{
        font-size: 1.5rem;
        text-align: center;
    }
    div.homesub__form{
        display: grid;
        grid-column: auto auto;
        grid-row: auto;
        justify-content: center;
    }
    div.homesub__mail{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    div.homesub__btn{
        grid-column: 2/2;
        grid-row: 1/2;
    }
/* subscribe */